* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  /* background-color: white; */
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.immaginina {
  width: 30px;
  height: 30px;
}

.pageUp {
  background-color: #D8F0E3;
}

.displayFlex {
  display: flex;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.itemsCenter {
  align-items: center;
}

.flexwrapWrap {
  flex-wrap: wrap;
}

.backFCFAF68C {
  background-color: #FCFAF68C;
}

.grey {
  color: #A6A6A6;
}

.colorF5D8CA {
  color: #F5D8CA;
}

header {
  min-height: 60px;
  padding: 0 40px;
}

#logoHeader {
  flex: 2;
  height: 100%;
  border: 1px solid black;
}

#navbar {
  flex: 12;
  height: 100%;
  border: 1px solid black;
}

#navbar>ul {
  list-style: none;
}

#menuHeader {
  flex: 1;
  height: 100%;
  border: 1px solid black;
}

#sezione1 {
  padding: 0 40px;
}

#chevronLeft, #chevronRight {
  flex: 1;
  font-size: 25px;
}

#chevronRight {
  text-align: right;
}

#centerLeft, #centerRight {
  flex: 17;
}

#centerLeft {
  padding-left: 200px;
}

#centerRight {
  padding-right: 200px;
}

#centerLeft div {
  margin-left: 100px;
}

#centerLeft div:first-of-type {
  font-size: 80px;
  font-weight: 300;
  line-height: 80px;
}

#centerLeft div:first-of-type>span {
  font-style: italic;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}

#centerLeft div:nth-of-type(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

#centerLeft div:nth-of-type(3) {
  border: 2px solid #F5D8CA;
  padding: 10px 30px;
  display: inline-block;
}

#centerRight img {
  width: 100%;
  height: auto;
}

#points {
  font-size: 8px;
  margin: 30px 0;
}

#points i:nth-of-type(2) {
  margin: 0 20px;
}

#points i:last-of-type {
  font-size: 12px;
}

.immagine {
  width: calc(100% / 3);
}

.immagine>img {
  width: 100%;
  height: auto;
  display: block;
}

#refresh {
  right: 0;
  top: 120px;
  background-color: #EE2852;
}

#refresh img {
  width: 20px;
  height: auto;
}

#carrello {
  right: 0;
  top: 155px;
  background-color: #FFFFFF;
}

#carrello img {
  width: 15px;
  height: auto;
}

#pageUp1 {
  top: 0px;
  right: 15px;
}

#pageUp2 {
  bottom: 30px;
  right: 15px;
}

#sezione3 {
  padding: 75px 0;
}

#working {
  width: 50%;
  margin: auto;
  background-color: orange;
  height: 50px;
}

#filo {
  width: 60%;
  margin: auto;
}

.imgSez3 {
  width: calc(100% / 4);
  height: 100px;
  background-color: purple;
  border: 1px solid black;
}

#pageUp3 {
  bottom: 30px;
  right: 10px;
}

#sezione4 {
  padding: 75px 0;
  border: 1px solid black;
}

.divSez4 {
  border: 1px solid black;
  height: 30px;
  width: 50%;
  margin: auto;
}

#sezione5 {
  padding: 75px 200px;
  border: 1px solid black;
}

#blog {
  border: 1px solid black;
}

.pictureBlog {
  width: calc(100% / 3);
  height: 300px;
  border: 1px solid black;
}

#pageUp4 {
  top: 30px;
  right: 10px;
}

footer {
  padding: 75px 200px;
  border: 1px solid black;
}

#footerMenu {
  border: 1px solid black;
}

.footerSez {
  width: calc(100% / 4);
  height: 300px;
  border: 1px solid black;
}
