<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <title>Illustration</title>
    </head>
    <body>

      <!-- DIV contenitore per istanziare VUE  -->
      <div id="app">

        <!-- ////////////HEADER/////////// -->
        <header>
          <div id="logoHeader">
            <div>
              <img :src="logoHeader" alt="">
            </div>
          </div>
          <nav id="navbar">
            <ul>
              <li v-for="item in navBar"><a :class="classe13" :href="item.linkHref">{{item.testo}}</a></li>
            </ul >
            <div>
              <img :src="headerMenu" alt="">
            </div>
          </nav>
        </header>

        <!-- ///////////////////PARTE CENTRALE DELLA PAGINA ///////////////////////////////////////-->
        <main>

          <!-- ///////////////SEZIONE 1////////////////////// -->
          <section id="sezione1">
            <div id="carousel">
              <div id="chevronLeft">
                <i class="fas fa-chevron-circle-left"></i>
              </div>
              <div id="centerLeft">
                <div class="weight300">Devotion that never <span class="Playfair">ends</span></div>
                <div class="grey">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</div>
                <div>READ MORE</div>
              </div>
              <div id="centerRight">
                <img src="img/img/immagine_carousel.png" alt="">

              </div>
              <div id="chevronRight">
                <i class="fas fa-chevron-circle-right"></i>
              </div>
            </div>
            <div id="points">
              <i class="fas fa-circle"></i>
              <i class="fas fa-circle"></i>
              <i class="fas fa-circle size12"></i>
            </div>
          </section>


          <!-- ///////////////SEZIONE 2 ////////////////////// -->
          <section id="sezione2">
            <div id="contenitore">
              <div class="immagine">
                <img src="img/img/h-2-port-img-1.jpg" alt="">
              </div>
              <div class="immagine">
                <img src="img/img/h-2-port-img-2.jpg" alt="">
              </div>
              <div class="immagine relative">
                <img src="img/img/h-2-port-img-3.jpg" alt="">
                <div id="refresh" class="absolute">
                  <img src="img/svg/svg-4.svg" alt="">
                </div>
                <div id="carrello" class="absolute">
                  <img src="img/svg/svg-6.svg" alt="">
                </div>
              </div>
              <div class="immagine relative">
                <img src="img/img/h-2-port-img-4.jpg" alt="">
                <div id="hoverBook" class="absolute">
                  <img src="img/img/illustration.png" alt="">
                </div>
              </div>
              <div class="immagine">
                <img src="img/img/h-2-port-img-5.jpg" alt="">
              </div>
              <div class="immagine relative">
                <img src="img/img/h-2-port-img-6.jpg" alt="">
                <div id="pageUp2a" class="absolute">
                  <img src="img/svg/svg-2.svg" alt="">
                </div>
                <div id="pageUp2b" class="absolute">
                  <img src="img/svg/svg-2.svg" alt="">
                </div>
              </div>
            </div>
          </section>


          <!-- ///////////////SEZIONE 3 ////////////////////// -->
          <section id="sezione3" class="relative">
            <div class="weight300 textCenter size50">Working <span class="Playfair">process</span></div>
            <div id="filo">
              <div class="imgSez3">
                <div class="circleImg">
                  <i class="fas fa-lightbulb colorBADAC9"></i>
                </div>
              </div>
              <div class="imgSez3">
                <div class="circleImg">
                  <i class="far fa-comment colorF8D12D"></i>
                </div>
              </div>
              <div class="imgSez3">
                <div class="circleImg">
                  <i class="fas fa-cloud color80465F"></i>
                </div>
              </div>
              <div class="imgSez3">
                <div class="circleImg">
                  <i class="fas fa-marker colorEB6950"></i>
                </div>
              </div>
            </div>

            <div id="sottoFilo">
              <div class="imgSez3S">
                <p class="size16 textCenter">First theres an idea</p>
                <p class="grey size13 textCenter">Lorem ipsum dolor sit amet, conetu adipisc sed be et ore aliqua pleasue itself.</p>
              </div>
              <div class="imgSez3S">
                <p class="size16 textCenter">Then we talk about</p>
                <p class="grey size13 textCenter">Lorem ipsum dolor sit amet, conetu adipisc sed be et ore aliqua pleasue itself.</p>
              </div>
              <div class="imgSez3S">
                <p class="size16 textCenter">And we think about</p>
                <p class="grey size13 textCenter">Lorem ipsum dolor sit amet, conetu adipisc sed be et ore aliqua pleasue itself.</p>
              </div>
              <div class="imgSez3S">
                <p class="size16 textCenter">So we draw along</p>
                <p class="grey size13 textCenter">Lorem ipsum dolor sit amet, conetu adipisc sed be et ore aliqua pleasue itself.</p>
              </div>
            </div>
            <div id="pageUp3" class="absolute">
              <img src="img/svg/svg-2.svg" alt="">
            </div>
          </section>


          <!-- ///////////////SEZIONE 4 ////////////////////// -->
          <section id="sezione4" class="relative">
            <img src="img/img/back_sez4.png" alt="">
            <div id="contenitoreSez4" class="textCenter absolute">
              <div class="weight300 textCenter size50">Want to work with us? Send us <span class="Playfair">a message!</span></div>
              <div class="grey size16 textCenter">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo.</div>
              <div class="textCenter backD8F0E3">CONTACT</div>
            </div>
          </section>


          <!-- ///////////////SEZIONE 5 ////////////////////// -->
          <section id="sezione5" class="relative">
            <div id="blog">
              <div class="pictureBlog relative">
                <img src="img/img/h-2-blog-img-1.jpg" alt="">
                <p class="size22">This way, loves: a detailed guide through new design</p>
                <p class="size13">By Emily Fields</p>
                <div id="contenitoreSez5" class="absolute">
                  <div class="Playfair size22 backC0E1CF textCenter pad5p">07</div>
                  <div class="size13 textCenter backF3D0C7 pad5p">May '19</div>
                  <div></div>
                </div>
              </div>
              <div class="pictureBlog relative">
                <img src="img/img/h-2-blog-img-2.jpg" alt="">
                <p class="size22">I try to give people a different way of looking art</p>
                <p class="size13">By Emily Fields</p>
                <div id="contenitoreSez5" class="absolute">
                  <div class="Playfair size22 backC0E1CF textCenter pad5p">07</div>
                  <div class="size13 textCenter backF3D0C7 pad5p">May '19</div>
                  <div></div>
                </div>
              </div>
              <div class="pictureBlog relative">
                <img src="img/img/h-2-blog-img-3.jpg" alt="">
                <p class="size22">Introduce Richard Laperri&egrave;re of those amazing features</p>
                <p class="size13">By Emily Fields</p>
                <div id="contenitoreSez5" class="absolute">
                  <div class="Playfair size22 backC0E1CF textCenter pad5p">07</div>
                  <div class="size13 textCenter backF3D0C7 pad5p">May '19</div>
                  <div></div>
                </div>
              </div>
            </div>
            <div id="pageUp5" class="absolute">
              <img src="img/svg/svg-2.svg" alt="">
            </div>
          </section>
        </main>
        <!-- ///////////////FINE MAIN ////////////////////// -->


        <!-- ///////////////FOOTER ////////////////////// -->
        <footer>
          <div id="footerMenu">
            <div :class="classFooSez" v-for="sezione in footer">
              <div id="logoFooter" v-if="sezione.immagine">
                <img :src="sezione.urlImg" alt="">
              </div>
              <p v-else :class="classe16">{{sezione.testoP1}}</p>
              <div id="iconeFont" v-if="sezione.icona" :class="classe16">
                <i v-for="font in sezione.fontAwesome":class="[classeFab, font]"></i>
              </div>
              <p v-else :class="classe16">{{sezione.testoP2}}</p>
            </div>
          </div>
        </footer>
      </div>

      <script src="js/script.js"></script>
    </body>
</html>
